@import url('variables.css');


body {
    margin: 0;
    font-family: var(--font-family-space-grotesk);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-weight: var(--font-weight-normal);
    overflow: hidden;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }